<%- include('header')%>

<div class="logbx mx-auto text-center p-5">
    <h3 class="">Welcome to Login Page</h3>
    <h5><%= locals.user %></h5>
    <a href="/route/logout">logout</a>
</div>

<%-include('footer')%>